.flexbox {
  display: flex;
  height: 50px;
}

.column1 {
  background-color: lightpink;
  width: 100px;
}

.column2 {
  background-color: lightblue;
  width: 200px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.items {
  background-color: black;
  color: white;
}