.amazon-link {
  color: rgb(0, 113, 133);
}

.amazon-link:hover {
  color: rgb(151, 99, 1);
}

.text1 {
  font-size: 25;
  font-weight: bold;
  margin-bottom: 35px;
}

.text2 {
  color: rgb(0, 118, 0);
  font-weight: bold;
}

.amazon-link, .text2, .text3, .cartbutton, .buybutton {
  font-size: 18;
}

.cartbutton {
  background-color: rgb(255, 216, 20);
  border: none;
  border-radius: 18px;
  height: 36px;
  width: 140px;
  cursor: pointer;
  margin-right: 7px;
  transition: 0.15s;
}

.cartbutton:hover {
  background-color: rgb(219, 186, 21);
}

.cartbutton:active {
  opacity: 0.5;
}

.buybutton {
  background-color: rgb(255, 164, 28);
  border: none;
  border-radius: 18px;
  height: 36px;
  width: 140px;
  cursor: pointer;
  margin-left: 7px;
  transition: 0.15s;
}

.buybutton:hover {
  background-color: rgb(192, 109, 0);;
}

.buybutton:active {
  opacity: 0.5;
}
