p {
    font-family: Arial;
    font-size: 20px;
    margin-bottom: 0px;
  }
  
  .tahoma-text {
    font-family: Tahoma;
    font-weight: bold;
  }
  
  .deals-text {
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  .sales-text {
    color: red;
    font-style: italic;
    font-size: 18px;
    margin-top: 0px;
  }
  
  .course-text {
    font-family: Verdana;
    font-weight: bold;
  }
  
  .BtoP-text {
    color: gray;
    font-size: 19px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  
  .course-description {
    font-size: 19px;
    width: 300px;
    margin-bottom: 15px;
  }
  
  .start-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .shopbus-text {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .see-text {
    text-align: center;
    margin-top: 0px;
  }
  
  .learn-text {
    text-align: center;
    color: rgb(79, 147, 192);
  }