.title {
    font-family: Arial;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pickup-loc, .destination {
    display: block;
    width: 300px;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(236, 235, 235, 0.726);
    margin-top: 10px;
    margin-bottom: 10px;
}

.request-button {
    background-color: black;
    color: white;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 8px;
}

.schedule-button {
    background-color: (236, 235, 235, 0.726);
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 18px;
    padding-right: 18px;
    margin-left: 8px;
}