body {
  height: 3000px;
}

.video-container {
  width: 300px;
  height: 200px;
}

.video-preview {
  position: relative;
}

.thumbnail {
  width: 300px;
  object-fit: cover;
  padding: 0 0 10px 0;
}

.video-info {
  display: flex;
  align-items: center;
}

.channel-picture {
  width: 40px;
  border-radius: 25px;
  object-fit: cover;
  margin-right: 5px;
}

.video-title {
  font-family: Roboto, Arial;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: black;
  margin-left: 5px;
}

.video-time {
  font-family: Roboto, Arial;
  font-size: 12px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 20px;
  right: 10px;
  padding: 3px 5px 3px 5px;
}